.add-heading{
  margin: 8rem 5rem;
}

.add-name{
  font-size: 5rem;
  letter-spacing: .5rem;
  font-weight: bold;
}

.add-form{
  margin: 8rem 5rem;
}

.add-buttons{
  margin: 8rem 5rem;

}

.btn-product{
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
}
