
<section class="cart-list-heading">
  <div class="row">
      <div class="col-md-10">
        <h1 class="cart-name">Shopping Cart</h1>
        <hr>
      </div>
      <div class="col-md">
        <button routerLink="/product-list" (click) = "completeOnlineOrder()" mat-raised-button color="warn"  class="btn-product">Checkout</button>
      </div>
  </div>
</section>

<section class="list-of-products mx-5">
  <div class="row">
    <div class="col">
      <div *ngIf="cartListObservable$ | async as cartItem">
      <table class="table table-bordered">
          <thead class="table-header">
              <tr class="text-center">
                <th scope="col"><h3>CATEGORY</h3></th>
                <th scope="col"><h3>NAME</h3></th>
                <th scope="col"><h3>PRICE</h3></th>
                <th scope="col"><h3>Quantity</h3></th>
                <th scope="col"><h3>Remove</h3></th>
              </tr>
            </thead>
        <ng-container *ngFor="let cartItem of cartList; let i=index">
          <tr class="text-align-center">
            <td>
              <h2>{{cartItem.category}}</h2>
            </td>
            <td>
              <h2>{{cartItem.name}}</h2>
            </td>
            <td>
              <h2>{{cartItem.price}}</h2>
            </td>
            <td>
              <h2>{{cartItem.quantity}}</h2>
            </td>
            <td>
              <a (click) = "removeCartItem(i)" ><i class="cross-icon fa fa-times-circle fa-3x"></i></a>
            </td>
          </tr>
        </ng-container>
        <ng-template #noData>No Data Available</ng-template>

      </table>
    </div>
  </div>
  </div>

</section>
