
<section class="cart-list-heading">
  <div class="row">
      <div class="col-md-10">
        <h1 class="cart-name">Shopping Cart</h1>
      </div>
      <div class="col-md">
        <button routerLink="/product-list" (click) = "completeOnlineOrder()" class="btn btn-primary btn-lg btn-product">Checkout</button>
      </div>
  </div>
</section>

<section class="list-of-products mx-5">
  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <ng-container *ngFor="let cartItem of cartList; let i=index">
          <tr class="text-align-center">
            <td>
              <h2>{{cartItem.category}}</h2>
            </td>
            <td>
              <h2>{{cartItem.name}}</h2>
            </td>
            <td>
              <h2>{{cartItem.price}}</h2>
            </td>
            <td>
              <h2>{{cartItem.quantity}}</h2>
            </td>
            <td>
              <a (click) = "removeCartItem(i)" ><i class="cross-icon fa fa-times-circle fa-3x"></i></a>
            </td>
          </tr>
        </ng-container>
        <ng-template #noData>No Data Available</ng-template>

      </table>
    </div>
  </div>

</section>
