.add-heading{
  margin: 8rem 5rem;
}

.add-name{
  font-size: 5rem;
  letter-spacing: .5rem;
  font-weight: 300;
}

.add-form{
  margin: 8rem 5rem;
}

.add-buttons{
  margin: 8rem 5rem;
}

.btn-product{
  font-size: 2.5rem;
  text-align: center;
  width: 75%;
}

.btn-product-save{
  background-color: #6e2142;
  color: white;
  font-size: 2.5rem;
  text-align: center;
  width: 75%;
}

.btn-product-save:hover{
  background-color: #e16363;
}