.product-name{
  font-size: 5rem;
  letter-spacing: .5rem;
  font-weight: 700;
}
.product-list-heading{
  margin: 8rem 5rem;
}

.btn-product-cart{
  background-color: #9852f9;
  outline: none;
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  padding: 1.4rem;
}

.btn-product-add{
  background-color: #f0134d;
  outline: none;
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  padding: 1.4rem;
}

td{
  text-align: center;
}
