
<section class="product-list-heading">
  <div class="row">
    <div class="col-md-10">
      <h1 class="product-name">Products</h1>
      <hr>
    </div> 
    <div class="col-md">
      <button routerLink="/shopping-cart" disableIfNotCustomer class="btn text-white btn-product-cart"><i class="fa fa-shopping-cart"></i></button>
    </div>
    <div class="col-md">
      <button routerLink="/add-product/" disableIfNotAdmin class="btn text-white btn-product-add">Add</button>
    </div>
  </div>
</section>

<section class="list-of-products mx-5">
  <div class="row">
    <div class="col">
      <div *ngIf="listOfProductsObserv$ | async as listOfProducts">
      <table id ="productList" class="table table-bordered">
          <thead class="table-header">
              <tr class="text-center">
                <th scope="col"><h3>CATEGORY</h3></th>
                <th scope="col"><h3>NAME</h3></th>
                <th scope="col"><h3>PRICE</h3></th>
                <th scope="col"><h3>MORE</h3></th>
              </tr>
            </thead>
          <ng-container *ngFor="let product of listOfProducts; let i=index">
            <tr class="table-row m-5 text-align-center">
              <td>
                <h4>{{product.category}}</h4>
              </td>
              <td>
                <h4>{{product.name}}</h4>
              </td>
              <td>
                <h4>{{product.price}}</h4>
              </td>
              <td>
                <a class="product-details-a" routerLink="/product" (click)="goToProductDetails(i)"><i class="fa fa-chevron-right fa-3x"></i></a>
              </td>
            </tr>
          </ng-container>
      </table>
    </div>
    </div>
  </div>

</section>
